.cardMain {
    display: inline-block;
    flex-direction: row;
    height: 40%;
    width: 50%;
    min-height: 200px;
    min-width: 250px;
    padding: 15px;
    border-style: none;
    background-color: blue;
}