.cardMain {
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 100%;
    min-height: 200px;
    min-width: 250px;
    /* padding: 15px; */
    border-style: none;
    background-color: rgb(127, 127, 255);
}